@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');

body {
  background-color: #f3f3f3;
  font-family: 'Poppins', sans-serif;
}

header{
  font-family: 'Poppins', sans-serif;
  position: sticky;
  top: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #4287f5;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 40px;
}

.spinner {
  height: 80px;
  margin: auto;
}

.App-intro {
  font-size: large;
}

/* new css for movie component */

.search > input[type="text"] {
  height:50px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: none;
}

* {
  box-sizing: border-box;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}

.App-header h2 {
  margin: 0;
  font-weight: 600;
}

.add-movies {
  text-align: center;
}

.add-movies button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}

.movie {
  padding: 25px 35px 10px 25px;
  max-width: 33.33%;
}

.movie img {
  width: 200px;
}

.movie-year {
  font-size: 12px;
  color: #404040;
  font-weight: 300;
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}

.search-wrap {
  margin: 80px auto 60px auto;
}

.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


input[type="submit"] {
  padding: 5px;
  height:50px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid #30c97d;
  margin: 0;
  background-color: #30c97d;
  color: white;
  border: none;
  cursor: pointer;
  width: 100px;
  font-size: 16px;
}

.search > input[type="text"]{
  width: 40%;
  max-width: 400px;
  min-width: 170px;
  border: 1px solid #ddd;
}

@media screen and (min-width: 694px) and (max-width: 915px) {
  .movie {
    max-width: 33%;
  }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
  .movie {
    max-width: 50%;
  }
}


@media screen and (max-width: 651px) {
  .movie {
    max-width: 100%;
    margin: auto;
  }
}